html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

img {
  max-width: 100%;
}

.hero__container, .section__container {
  width: 100%;
  max-width: 65rem;
  margin: auto;
}
